/* content */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* code */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/* heading */
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

:root {
    --headingfont: "Mulish";
    --contentfont: "Poppins";
    --codefont: "Roboto Mono";
    --font-color: #d6d6d4;
}

.highlight-cssCode {
    color: #abaaaacf;
    width: 100%;
    font-family: var(--codefont);
}

.normal::before {
    content: "<!-- ";
}

.normal::after {
    content: " -->";
}

.normal {
    color: #7a8db0;
    font-family: var(--contentfont);
}

#textCssprops {
    margin-top: 2em;
}

#textCssprops .sampletxt {
    margin: 1em 0 1em 0;
}

.textprop::after {
    content: "";
    display: block;
    width: 50%;
    margin-inline: auto;
    height: 2px;
    background-color: currentColor;
    opacity: .1;
}
.textprop {
    padding-bottom: 2em;
}